<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>M72NAL3U5D</string>
	<key>method</key>
	<string>enterprise</string>
	<key>uploadSymbols</key>
	<string>YES</string>
	<key>exportProvisioningProfile</key>
	<string>/Users/Shared/Jenkins/Library/MobileDevice/Provisioning Profiles/LonghornDistProfile.mobileprovision</string>
	<key>exportSigningIdentity</key>
	<string>iPhone Distribution: Photon Infotech Inc.</string>
	<key>exportFormat</key>
	<string>IPA</string>
</dict>
</plist>
