<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>M72NAL3U5D</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>uploadSymbols</key>
	<true/>
	<key>exportProvisioningProfile</key>
	<string>LonghornDistProfile.mobileprovision</string>
	<key>exportsigningIdentity</key>
	<string>iPhone Distribution: Photon Infotech Inc.</string>
</dict>
</plist>
